.container {
  width: 100%;
  height: 100vh;

  background-color: #181818;
}

.header {
  width: 100%;
  padding: 10px 0;
  display: flex;

  justify-content: center;

  background: rgb(36, 36, 36);
}
